$color-dark: #212121;
$color-dark-secondy: #242424;
$color-dark-tertiary: #262626;
$color-text: #ffffff;
$color-text-gray: #606060;
$color-primary: #2c97e2;
$color-secondary: #2d2c2c;
$color-success: #84b547;
$color-danger: #cc3d4a;
$color-warning: #e76d3b;
